# Jetbrains stuff
.idea

# VSC stuff
.vscode

# Exclude compiled book
book

# Exclude local-only directories
local
references

# Exclude img-src for now
img-src

# Exclude compiled scripts
/scripts/cspell_check.py
/scripts/**/__pycache__
/scripts/build/
/scripts/dist/
/scripts/*.egg-info/
*.egg-info/

# ignore local cpsell - we should set up spell check as CI?
.cspell
