:root {
    --content-max-width: 87%;
}

.cga-bg-swatch {
    background-color: transparent !important;
    background-image: 
        linear-gradient(45deg, transparent 46%, var(--table-header-bg) 47%, var(--table-header-bg) 53%, transparent 54%), 
        linear-gradient(-45deg, transparent 46%, var(--table-header-bg) 47%, var(--table-header-bg) 53%, transparent 54%);
    background-size: 10px 10px;
}

.vga-palette-cell {
    padding: 0 5px;
    height: 54px;
    text-align: center;
    font-family: monospace;
    font-size: 0.8em;
    border: 1px solid #444;
}
